<div class="container-fluid"
     [ngClass]="containerClass()"> <!-- mid-container -->

  <div class="row">
    <div [ngClass]="editorClass()"> <!-- col-xs-6 OR col-xs-12 -->
      <toolbar [items]="toolbarItems"></toolbar>
      <markdown-editor (onTextInput)="passText($event)"
                       (onScroll)="viewConfig.syncViews && viewConfig.enablePreview ? mdViewer.scrollTo($event) : null">
      </markdown-editor>
    </div>
    <div *ngIf="viewConfig.enablePreview" class="col-xs-6">
      <markdown-viewer [content]="text"
                       (onScroll)="viewConfig.syncViews ? mdEditor.scrollTo($event) : null">
      </markdown-viewer>
    </div>
  </div>
</div>
