<div class="container-fluid">
  <app-loading-mask *ngIf="viewConfig.syncingNotes"></app-loading-mask>

  <div class="row">
    <!--NOTE NAVIGATOR-->
    <div class="col-xs-2">
      <app-source-navigator (onSelectNote)="handleSelectNote($event); false"
                        (onSyncingNotes)="handleSyncingNotes($event)"></app-source-navigator>
    </div>

    <!--NOTE EDITOR-->
    <div [ngClass]="editorClass()"> <!-- !preview => col-xs-8; preview => col-xs-5 -->
      <app-toolbar [styleClasses]="'editor-toolbar showWhenHovered'"
               [items]="toolbarItems">
      </app-toolbar>
      <app-editor [noteStream]="choosenNoteStream"
                       (onTextInput)="handleChangeText($event); false"
                       (onScroll)="syncViews($event, true); false">
      </app-editor>
    </div>

    <!--NOTE PREVIEWER-->
    <div *ngIf="viewConfig.enablePreview" class="col-xs-5">
      <app-viewer [contentStream]="textStream"
                       (onScroll)="syncViews($event, false); false">
      </app-viewer>
    </div>
  </div>
</div>

