<!--SEARCH BAR-->
<div class="row">
  <input *ngIf="viewConfig.openSearch"
         type="text" class="form-control" placeholder="Note Title"
         (input)="handleSearch($event.target.value)">
</div>
<!--TOOL BAR-->
<div class="row">
  <toolbar [styleClasses]="'nav-toolbar'"
           [items]="navigatorToolItems">
  </toolbar>
</div>
<!--NOTE LIST-->
<div class="row">
  <ul class="list-group">
    <li *ngFor="let title of matchedTitles | async; let i = index"
        class="list-group-item"
        [class.selected]="title == choosen"
        (click)="handleSelectNote($event, title);">
      <div *ngIf="unsavedNotes.has(i)" class="red-dot"></div>
      <div #titleInput contenteditable="true"
           (blur)="handleFinishEditingTitle(title, titleInput.innerText)">
        {{title}}
      </div>
      <span *ngIf="viewConfig.deleteNotes"
            class="glyphicon glyphicon-trash"
            style="z-index: 100; position: absolute; right:5%; top: 10px"
            (click)="handleDeleteNote($event, title)"></span>
    </li>
  </ul>
</div>

<!--MODAL (hidden)-->
<uploader-modal #uploader (onUploadFinished)="handleUploadFinished($event)">
</uploader-modal>
