<div id="container" style="height: 100vh;">

  <!--SEARCH BAR-->
  <div class="row">
    <input type="text" class="form-control" placeholder="Note Title"
           (input)="handleSearch($event.target.value)">
  </div>
  <!--TOOL BAR-->
  <div class="row">
    <toolbar [styleClasses]="'nav-toolbar'"
             [items]="navigatorToolItems">
    </toolbar>
  </div>
  <!--NOTE LIST-->
  <div class="row">
    <ul class="list-group">
      <li *ngFor="let title of matchedTitles | async;"
          class="list-group-item"
          [class.selected]="title == choosen"
          (click)="handleSelectNote($event, title);">

        <!--change indicator-->
        <div *ngIf="unsavedNotes.has(title)" class="red-dot"></div>

        <!--editable note name-->
        <div #titleInput contenteditable="true"
             (blur)="handleFinishEditingTitle(title, titleInput.innerText)">
          {{title}}
        </div>

        <!--delete icon (hidden)-->
        <span *ngIf="deleteNotes"
              class="glyphicon glyphicon-trash"
              style="z-index: 100; position: absolute; right:5%; top: 10px"
              (click)="handleDeleteNote($event, title)"></span>
      </li>
    </ul>
  </div>
</div>


<!--MODAL (hidden)-->
<uploader-modal #uploader (onUploadFinished)="handleUploadFinished($event)">
</uploader-modal>
