/* ----------- Editor & Previewer -----------*/
.CodeMirror {
  height: 100vh;
}

#md-result {
  height: 100vh;
  overflow: scroll;
}

/* ----------- TooBar -----------*/
.nav-toolbar .glyphicon {
  font-size: 20px;
}

.nav-toolbar .btn-group {
  width: 99%;
}

.nav-toolbar .btn {
  width: 25%;
}

.editor-toolbar {
  position: absolute;
  right: 6%;
  top: 1%;
}

/* ----------- General -----------*/
/*RED DOT INDICATOR FOR UNSAVED NOTES*/
.red-dot {
  float: left;
  width: 5px;
  height: 5px;
}

.red-dot:before {
  position: absolute;
  content: '';
  background-color:#FF0000;
  border-radius:50%;
  opacity:0.5;
  width: 5px;
  height: 5px;
  pointer-events: none;
}

/* Container */
.mid-container {
  width: 90%;
}

/* Hover */
.hoverable:hover {
  opacity: 1 !important;
}

.hoverable {
  opacity: 0;
  transition: .5s ease-in-out all;
}

/* Stripped Table */
table { border-collapse: collapse; border-spacing: 0; }
td, th { vertical-align: top; padding: 4px 10px; border: 1px solid #bbb; }
tr:nth-child(even) td, tr:nth-child(even) th { background: #eee; }
