/* ----------- Editor & Previewer -----------*/
.CodeMirror {
  height: 100vh;
}

#md-result {
  height: 100vh;
  overflow: scroll;
}

/* ----------- TooBar -----------*/
.nav-toolbar .glyphicon {
  font-size: 20px;
}

.nav-toolbar .btn-group {
  width: 99%;
}

.nav-toolbar .btn {
  width: 25%;
}

.editor-toolbar {
  position: absolute;
  right: 6%;
  top: 1%;
}

/* ----------- General -----------*/
/*RED DOT INDICATOR FOR UNSAVED NOTES*/
.red-dot {
  float: left;
  width: 5px;
  height: 5px;
}

.red-dot:before {
  position: absolute;
  content: '';
  background-color:#FF0000;
  border-radius:50%;
  opacity:0.5;
  width: 5px;
  height: 5px;
  pointer-events: none;
}

/* Container */
.mid-container {
  width: 90%;
}

/* Hover */
.showWhenHovered:hover {
  opacity: 1 !important;
}

.showWhenHovered {
  opacity: 0;
  transition: .5s ease-in-out all;
}

/* Stripped Table */
table { border-collapse: collapse; border-spacing: 0; }
td, th { vertical-align: top; padding: 4px 10px; border: 1px solid #bbb; }
tr:nth-child(even) td, tr:nth-child(even) th { background: #eee; }


/*LOADER*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.4);
  border-right: 1.1em solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.6);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
